* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#settings input[type="number"] {
    width:12%
}

#settings input[type="button"] {
    widows: 20%;
    padding: 0
}

#bar .tooltip {
    position: relative;
}

#mainDisplay{
    display: flex;
    position: absolute;
    margin: 0 2%;
    width: 96%;
    color:dodgerblue;
    z-index: 1;
    background-color: aliceblue;
    border-radius: 5px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flexCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

#closeButton{
    align-self: flex-end;
    font-size: 65px
}

.toggleOn{
    display: inherit;
}

.toggleOff{
    display: none
}

#bar {
    padding: 0;
    margin: 0;
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bar i {
    font-size: 100px;
    display: flex;
    flex-direction: column;
}

#bar li {
    
    padding:2px 10px;
    border-style: solid;
    border-width: 2px;
    border-top: 0;
    border-right: 0;
    width:25%
}

#bar li:last-child{
    border-right-style: solid;
    border-right-width: 2px;
}

body {
    padding:0;
    margin: 0;
    text-align: center;
    background-color:  steelblue;
    color: white;
}

li {
    list-style-type: none;
}

.set{
    margin: 4px;
    width: 15%;
} 

input[type="button"] {
    background: dodgerblue;
    border-style: none;
    color: white;
    border-radius: 6px;
    width: 33%;
    padding: 3% 0;
    font-size: 65px;
    margin: 4px;
    border-style: solid;
    border-color: white
}

input {
    font-size: 50px;
}

input[type="text"] {
    width: 30%;
    -moz-appearance: textfield;

}

.weightRange {
    width: 70%;
    -webkit-appearance: none;
    appearance: none;
    height:10px;
    outline: none;    
}

.weightRange::-moz-range-track{
    background: white
}

.weightRange::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: black
}

.weightRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 55px; 
    height: 55px; 
    background: dodgerblue; 
    border-radius: 30px;
    border-style: solid;
    border-color: black
}

.blackout{
    background-color: lightgrey
}

#sub {
    padding: 2% 2%
}

.exerciseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.exerciseContainer * {
    margin: 2%
}

#UI {
    margin:0;
    position: sticky;
    top:0;
    width:100%;
    color: white;
    font-size: 50px
}

#UI input[type="number"] {
    width:15%
}

#exerciseList {
    box-sizing: border-box;
}

#progressTable  *{
    font-size: 36px;
}

#exerciseForm {
    font-size: 50px;
}

@media screen and (min-width: 1000px){

    body * {
        font-size: 18px;
    }

    p {
        padding: 0 2%
    }

    #bar{
        width: 30%;
        margin: 0 35%;
        margin-bottom: 2%
    }

    #mainDisplay *{
        font-size: 16px;
    }

    #mainDisplay{
        width: 70%;
        margin: 0 15%
    }

    #progressTable {
        width: 90%;
        margin: 0 10%
    }

    #bar .tip {
        font-size: 18px;
        visibility: hidden;
        position: absolute;
        width: 100px;
        z-index: 1;
        top: 125%;
        left: -25px;
        background-color:dodgerblue;
        text-align: center;
        border-radius: 5px;
    }
    
    #bar .tooltip:hover .tip {
        visibility: visible
    }

    input[type="button"] {
        width: 25%;
        margin: 4px;
        padding: 0;
        font-size: 20px;
    }

    input[type="text"] {
        width: 15%;
        padding: 4px;
        font-size: 16px;
    }

    input[type="number"] {
        width:8%;
        -moz-appearance: textfield;
        font-size: 16px;
    }

    #sub {
        width:10%;
        padding: 0
    }

    input[type="range"] {
        width: 25%;
        height: 3px;
    }

    .exerciseContainer {
        align-items: center;
        flex-direction: row;
        font-size: 24px;
        flex-wrap: wrap
    }

    .weightRange::-webkit-slider-thumb {
        width: 25px; 
        height: 25px; 
 
    }

    .weightRange::-moz-range-thumb {
        border-color: black;
        background-color: dodgerblue
    }

    #bar i {
        font-size: 30px;
    }

    #exerciseForm{
        font-size: 20px;
    }
}