* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    height: 99%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, hsla(219, 45%, 49%, 1.0),hsla(192, 55%, 40%, 0.9) );
}

p {
    text-align: justify;
    text-indent: 24px;
    line-height: 20px;
    margin:10px;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    margin:8px 0;
}

.toggleOn{
    display: inherit;
}

.toggleOff{
    display: none
}

.bubble {
    word-wrap: break-word;
    border-radius: 4px;
    background-color: hsla(0, 45%, 100%, 0.2);
    color: hsla(280, 70%, 95%, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1%;
    overflow: hidden;
    animation-name: grow;
    animation-duration: 3s;
}
 .clickMobile{
     height: 16%;
 }

@keyframes grow {
    from {transform: scale(0,0)}
    to {transform: scale(1,1)}
}

a {
    font-weight: bold;
    color:hsla(260, 70%, 50%, 1);
}

.flexCont{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width:800px) {

    body{
        margin:0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .bubbleContents{
        display: inherit
    }

    .flexrow {
        display: flex;
        flex-direction: row;
    }

    .column2 {
        flex: inherit;
        width:40%
    }

    .column3 {
        width: 30%;
        flex:inherit;
    }

    ul {
        padding: 3%;
    
    }
    .bottomBorder {
        border-bottom-style: solid
    }


    .block {
        border-style: solid
    }
}