* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: hsla(120, 50%, 40%, 0.6)
}

p {
    text-align: justify;
    text-indent: 24px;
    line-height: 20px;
    margin:10px;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    margin:8px 0;
}

.bubble {
    border-radius: 30px; 
    color: hsla(35, 70%, 80%, 1);
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to bottom right, hsla(219, 45%, 49%, 1.0),hsla(192, 55%, 50%, 0.6) );
    margin: 1%;
    padding: 10px;
    overflow: hidden;
    animation-name: grow;
    animation-duration: 2s;
}

@keyframes grow {
    from {transform: scale(0,0)}
    to {transform: scale(1,1)}
}

a {
    background-color: white;
    font-weight: bold;
    color:hsla(260, 80%, 50%, 1);
}

@media screen and (min-width:600px) {

    body{
        margin:0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    

    .flexrow {
        display: flex;
        flex-direction: row;
    }

    .column2 {
        flex: inherit;
        width:48%
    }

    
    .column3 {
        width: 31%;
        flex:inherit;
    }

    ul {
        padding: 3%;
    }

}