body {
    margin:0;
    background: hsla(120, 50%, 40%, 0.6)
}

.content {
    margin: 0 3%;
}

p {
    text-align: justify;
    text-indent: 24px;
    line-height: 20px;
    margin:10px;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    margin:8px 0;
}

.bubble {
    border-radius: 30px; 
    color: hsla(35, 70%, 80%, 1);
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to bottom right, hsla(219, 45%, 49%, 1.0),hsla(192, 55%, 50%, 0.6) );
    margin: 1%;
    padding: 10px;
    animation-name: grow;
    animation-duration: 2s;
}

@keyframes grow {
    from {transform: scale(0,0)}
    to {transform: scale(1,1)}
}

a {
    color:hsla(130, 90%, 50%, 1);
}

@media screen and (min-width:600px) {
    ul > li {
        margin:3px 0;
    }

    .row {
        display: flex;
        flex-direction: row;
    
    }

    .column2 {
        width:50%;
        flex: inherit;
        
    }
    
    .column3 {
        width:33%;
        flex:inherit;
    }

    .current {
        background-color:white;
    }

    ul {
        margin: 0;
        padding: 10px;
    }
}