body {
    margin:0;
}
#nav_bar {
    list-style-type: none;
    padding: 0;
    margin:0;
    overflow: hidden;
    background-color: orange;
}

#nav_bar li {
    float: left;
    padding:0;
    margin:0;
}

#nav_bar li:hover:not(.current) {
    background-color: orangered;
}

#nav_bar a {
    display: block;
    text-decoration: none;
    color:black;
    padding: 12px;
}

ul > li {
    margin:3px;
}
.content {
    margin:0 10%
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    width:50%;
    flex: inherit;
 }

 .row h2 {
     display: block;
 }

p {
    text-align: justify;
    text-indent: 32px;
    line-height: 20px;
    margin: 10px
}
   
 h3 {
     margin:0
 }

 h4 {
     margin:0
 }

.current {
    background-color:white;
}









#sidebar {
    background-color: rgb(230, 230, 230);
    margin:0;
    padding:0;
    width:120px;
    list-style-type: none;
    height:100%;
    position: fixed;
    font-size: 14px;
}

#sidebar ~div {
    margin-left: 17%;

}

#sidebar ul {
    padding:0;
     
 }

 #sidebar li {
    text-align: center;
    list-style-type: none;
    display: block;
    margin:0;
    padding:4px 0;
    font-size: 16px

 }

 #sidebar li:hover {
     background-color: rgb(280, 280, 280)
 }