body {
    margin:0;
}

#nav_bar {
    background-color: orange;
    list-style-type: none;
    padding: 0;
    margin:0;
    overflow: hidden;

}

#nav_bar li:hover:not(.current) {
    background-color: orangered;
}

#nav_bar li {
    float: top;
    padding:0;
    margin:0;
}

#nav_bar a {
    display: block;
    text-decoration: none;
    color:black;
    text-align: center;
    padding:6px
}

.content {
    margin: 0 5%;
}

p {
    text-align: justify;
    text-indent: 24px;
    line-height: 20px;

}

h1,h2,h3,h4,h5,h6{
    margin:10px 0;
}




@media screen and (min-width:600px) {
    #nav_bar li {
        float: left;
    }

    #nav_bar a{
        padding: 12px;
    }

    ul > li {
        margin:3px;
    }



    .row {
        display: flex;
        flex-direction: row;
    
    }

    
    .column {
        width:50%;
        flex: inherit;
        margin:0;
        
    }
    

    .current {
        background-color:white;
    }
}